.event_card {
  border: 1px solid var(--gray);
  width: 20rem;
  height: 25rem;
  cursor: pointer;

  overflow: hidden;
}

.event_card img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  transition: transform 0.2s;
}

.event_card span,
.event_card p {
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.event_card span {
  font-weight: 800;
  font-size: 1.2rem;
}

.info {
  width: 100%;
  height: 100%;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
